.a1{
  margin-top: 20px;

}
.a2{
  color: red;
}
.a3{
  border-color: black;
  border-width: thin;
  border-style: solid;
  width: 200px;


}
.a4{
color: #4267B2;
}
.a5{
  margin: 10px;
}
.a6{
  color: black;
}

.a7{
  color: #0073b1;
}

.a8{
  color: #E1306C;;
}
.b1{
 margin-bottom: 40px;
 font-weight: lighter;
 color: #42a5f5;
}
 
